In [41]:
import pandas as pd
#to match/assign an alphabet to a number e.g 12 => A, 19=>B , 26=>C 
from string import ascii_uppercase as alphabet 
!pip install pickle5
import pickle

Collecting pickle5
  Downloading pickle5-0.0.11.tar.gz (132 kB)
     |████████████████████████████████| 132 kB 9.2 MB/s eta 0:00:01
Building wheels for collected packages: pickle5
  Building wheel for pickle5 (setup.py) ... done
  Created wheel for pickle5: filename=pickle5-0.0.11-cp39-cp39-macosx_10_9_x86_64.whl size=122415 sha256=dd318dfbd6c5949d586085c4fffec2b279b93aadc38bbedde96c0764d6c1f2b1
  Stored in directory: /Users/suhyun/Library/Caches/pip/wheels/f2/7a/49/9bef8878949914ecb90c08fc5bf30a05e17f475fe7e08b63a8
Successfully built pickle5
Installing collected packages: pickle5
Successfully installed pickle5-0.0.11

In [30]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

In [36]:
all_tables[10]
all_tables[59]

   Pos      Teamvte  Pld  W  D  L  GF  GA  GD  Pts               Qualification
0    1     Portugal    3  2  0  1   6   4  +2    6  Advanced to knockout stage
1    2  South Korea    3  1  1  1   4   4   0    4  Advanced to knockout stage
2    3      Uruguay    3  1  1  1   2   2   0    4                         NaN
3    4        Ghana    3  1  0  2   5   7  −2    3                         NaN

In [16]:
alphabet

'ABCDEFGHIJKLMNOPQRSTUVWXYZ'

In [38]:
all_tables = pd.read_html('https://en.wikipedia.org/wiki/2022_FIFA_World_Cup')

dict_table = {}
#print all_tables of all the groups A-H
#assign an alphabet to a number e.g 12 => A, 19=>B , 26=>C using zip 
for letter, i in zip(alphabet, range(10,66, 7)):
    df = all_tables[i]
    df.rename(columns={df.columns[1]: 'Team'}, inplace=True) #rename second column to 'Team'
    df.pop('Qualification') #drop the 'Qualification' table
    dict_table[f'Group {letter}'] = df

In [39]:
dict_table['Group H']

   Pos         Team  Pld  W  D  L  GF  GA  GD  Pts
0    1     Portugal    3  2  0  1   6   4  +2    6
1    2  South Korea    3  1  1  1   4   4   0    4
2    3      Uruguay    3  1  1  1   2   2   0    4
3    4        Ghana    3  1  0  2   5   7  −2    3

In [42]:
with open('dict_table', 'wb') as output:
    pickle.dump(dict_table, output) #put all the data in dict_table in 'dict_table'